@import "tailwindcss";

:root {
    --background: #F8F6F3;

    --foreground: #171717;
    --foreground-muted: #6B7280;

    --accent-blue: #2563EB;
    --accent-blue-light: #DBEAFE;

    --accent-pink: #EC4899;
    --accent-pink-light: #FCE7F3;

    --surface: #FFFFFF;
    --border: #E7E5E4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth !important;
}
